* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  .comienzaBtn{
    background-color:#52BFEE ;
    color: white;
    padding: 8px;
    padding-left: 30px;
    padding-right: 30px;
    border: none;
  }
  /* Estilos generales */
  body {
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    background-color: #f1f1f1;
    color: #333;
  }
  
  .container {
    
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
  }
  
  /* Estilos para encabezados */
  h1 {
    color: #0056b3;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  h2 {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  /* Estilos para enlaces */
  
  
  a:hover {
    text-decoration: underline;
  }
  
  /* Estilos para botones */
  .button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 4px;
    transition: background-color 0.3s ease;
  }
  
  .button:hover {
    background-color: #0056b3;
  }

  .container{
    margin-left: 0;
    
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .navbar {
    background-color: transparent;
    position: absolute;
    display: flex;
    flex-direction: column;
  }

  .navbar .nav-link {
    position: relative;
    margin: 5px;
    margin-right: 40px;
    color: #007bff !important;
    text-decoration: none;
  }
  .collapse {
    
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .btn{
    background-color: #007bff;
  }

  .formD{
    
    width: 400px;
    display: flex;
    flex-direction: row;
    justify-content: end;
    margin-left: 10px;       
  }

  img{
    position: relative;
    z-index: 1;
  }
  .Texto{
    position: relative;
    left: 500px;
    z-index: 2;
  }
  .Texto h1{
    font-size: 70px;
    color: #0089B5;
  }
  .Texto p{
    color: #706F6F;
    font-size: 17px;
  }
  .Texto h2{
    color: #706F6F;
  }